<div class="container">
  <div class="wrapper">
    <h1>トップ</h1>
    <h2>ニュース一覧</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>タイトル</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="news : ${newsList}" class="position-relative">
          <td class="position-static">
            <div class="container d-flex align-items-center">
              <a th:href="'/news/' + ${news.id}" class="stretched-link text-reset text-decoration-none"></a>
            </div>
            <span th:text="${news.title}"></span>
          </td>
          <td><span th:text="${news.createdAt}"></span></td>
        </tr>
      </tbody>
    </table>
    <div th:insert="~{layout/page}"></div>
  </div>
</div>
