<h1>映画一覧</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>タイトル</th>
      <th>ジャンル</th>
      <th>期限</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="movie : ${movies}" class="position-relative">
      <td class="position-static">
        <div class="container d-flex align-items-center">
          <a th:href="'/movie/' + ${movie.id}" class="stretched-link text-reset text-decoration-none"></a>
        </div>
        <span th:text="${movie.title}"></span>
      </td>
      <td th:text="${movie.getGanre()}"></td>
      <td><span th:text="${movie.periodStart}"></span>～<span th:text="${movie.periodEnd}"></span></td>
    </tr>
  </tbody>
</table>
<div th:insert="~{layout/page}"></div>
