<nav class="navbar navbar-expand-lg navbar-dark bg-info mb-4"  th:fragment="header">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">映画予約システム</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
          <a class="nav-link" aria-current="page" href="/">Home</a>
          <a class="nav-link" href="/movies">映画一覧</a>
          <a class="nav-link" href="/theaters">映画館一覧</a>
          <a class="nav-link" href="/profile">プロフィール</a>
          <a class="nav-link" href="/tickets">チケット一覧</a>
      </div>
    </div>
  </div>
  <div th:if="${isAuthenticated}">
    <span th:text="${username}" class="navbar-brand" id="username"></span>
    <div id="logout">
      <form th:action="@{/logout}" method="post">
        <input type="submit" name="logout" value="ログアウト" />
      </form>
    </div>
  </div>
  <a th:if="!${isAuthenticated}" class="navbar-brand" href="/login">ログイン</a>
</nav>
