<h1>映画館一覧</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>館名</th>
      <th>エリア</th>
      <th>住所</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="theater : ${theaters}" class="position-relative">
      <td class="position-static">
        <div class="container d-flex align-items-center">
          <a th:href="'/theater/' + ${theater.id}" class="stretched-link text-reset text-decoration-none"></a>
        </div>
        <span th:text="${theater.name}"></span>
      </td>
      <td th:text="${theater.getArea()}"></td>
      <td th:text="${theater.access}"></td>
    </tr>
  </tbody>
</table>
<div th:insert="~{layout/page}"></div>
