<h1>プロフィール</h1>
<form th:action="@{/profile/update}" method="post" th:object="${user}">
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>変更前</th>
        <th>変更後</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>ユーザー名</th><td th:text="${user.name}"></td>
        <td><input type="text" name="username" class="form-control" /></td>
      </tr>
      <tr>
        <th>メールアドレス</th><td th:text="${user.email}"></td>
        <td><input type="text" name="email" class="form-control" /></td>
      </tr>
      <tr>
        <th>ポイント</th><td th:text="${user.points}"></td>
        <td><input type="number" name="points" class="form-control" value="0" /></td>
      </tr>
    </tbody>
  </table>
  <div class="d-flex justify-content-end">
    <button class="btn btn-outline-primary" name="Submit" type="Submit">保存</button>
  </div>
</form>
