<h1>プロフィール</h1>
<p th:if="${updated}">変更を保存しました。</p>
<table class="table">
  <tbody>
    <tr>
      <th>ユーザー名</th><td th:text="${user.name}"></td>
    </tr>
    <tr>
      <th>メールアドレス</th><td th:text="${user.email}"></td>
    </tr>
    <tr>
      <th>ポイント</th><td th:text="${user.points}"></td>
    </tr>
  </tbody>
</table>
<div class="d-flex justify-content-end p-1">
  <a class="btn btn-outline-primary" href="/tickets">チケット一覧</a>
</div>
<div class="d-flex justify-content-end">
  <a class="btn btn-outline-primary" href="/profile/edit">編集</a>
</div>
